@charset "UTF-8";
html, body{
	height: 100%;
	margin: 0;
}
.projector-sim {
  filter: brightness(1.4) contrast(0.8) saturate(1.2);
}
body{
	display: flex;
	flex-direction: column;
	min-width: 1200px;
	min-height: 100vh; 
	color: black;
}

header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-item: center;
    background-color: #30475E;
    color: black;
    padding: 15px 30px;
    font-weight: bold;
	box-sizing: border-box;
}

main{
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E8E8E8;
	box-sizing: border-box;
}

footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-item: center;
    background-color: #30475E; 
    padding: 15px 30px;
    font-weight: bold;
	box-sizing: border-box;
}

/* dashboard.jsp, myUsage.jsp */
main.board-page {
	flex: 1 1 auto;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

.container {
  display: flex;         /* nav와 main을 가로 배치 */
  height: 100vh;         /* 화면 높이 꽉 채우기 (선택사항) */
  box-sizing: border-box;
}

.text-center{
	text-align: center;
}
.black-line{
	width: 100%;
	min-height: 3px;
	align-self: center;
	background-color: black;
}

.white-line{
	width: 100%;
	min-height: 3px;
	align-self: center;
	background-color: white;	
}
/*
내비게이션 스타일
*/
.sidebar-nav {
  width: 10%;
  height: 100%;
  background-color: #E8E8E8;
  border-right: 1px solid #222831;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.nav-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 12px;
  margin-bottom: 16px;
}

.nav-user-info {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.user-welcome-text {
  color: black;
}

.nav-btn {
  background-color: #6080bb;
  color: white;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: #3a8de0;
}

.nav-menu {
  margin-top: 8px;
}

.nav-link {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.nav-link:hover {
  background-color: #e0e0e0;
}
/*
내비게이션 스타일
*/
.header-title{
	margin: 0;
	color: #E8E8E8;
	text-align: center;
}

.main-title{
	margin: 0;
}

.selected{
	 background-color: #e0f0ff;
  color: #007acc;
  font-weight: bold;
}
tr, td{
	cursor: pointer;
	user-select: none; 
}

.table-style {
  width: 800px;         /* 원하는 고정 너비(px)로 조절 가능 */
  margin: 0 auto;       /* 좌우 여백 자동: 가운데 정렬 */
  border-collapse: collapse; /* 테이블 선 겹치기 제거(옵션) */
}