@charset "UTF-8";

.controls {
	justify-content: flex-end;
}
/* 내부 스크롤 감싸기 */
.dashboard-scroll-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

/* 실질적 콘텐츠 */
.dashboard-container {
  display: inline-flex;
  gap: 20px;
  min-width: max-content;
  padding: 20px;
  box-sizing: border-box;
}

.dashboard {
  width: fit-content;
  flex-shrink: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); /* 기존보다 저 진하고 넓은 그림자 */
  transition: box-shadow 0.3s ease;
  height: fit-content;
}

.charts-top {
	display: flex;
	gap: 35px;
	flex-wrap: wrap;
	justify-content: center;
}

.charts-box {
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); /* 기존보다 저 진하고 넓은 그림자 */
	transition: box-shadow 0.3s ease;
	position: relative;
	width: 45%;
	height: auto;
	min-height: 180px;
	flex: 1 1 300px;
	aspect-ratio: 4/2.2;
	border-radius: 12px;
	display: flex;
	padding: 5px;
	flex: 1 1 300px;
	box-sizing: border-box;
}

#gasChart {
	object-fit: cover;
	border-radius: 10px;
	padding: 3px;
	box-sizing: border-box;
}

/* 드롭다운 컨트롤 */
.controls {
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
}


.controls select {
	padding: 8px 14px;
	border-radius: 8px;
	border: 1px solid #ccc;
	font-size: 1rem;
}

/* 하단 차트 컨테이너 */
.charts-bottom {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
}

.chart-container {
	width: calc(33.333% - 50px); /* 3개 배치, 좌우 여백 고려 */
	min-width: 250px;
	aspect-ratio: 1.5/1;
	background-color: #f0f0f0;
	border-radius: 10px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	margin: 15px;
}

.chart-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	box-sizing: border-box;
}

@media ( max-width : 1000px) {
	.chart-container {
		width: calc(50% - 30%)
	}
}

@media ( max-width : 600px) {
	.chart-container {
		width: 100%;
	}
}

/* 버튼 스타일 */
button {
	padding: 8px 18px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #0056b3;
}

.chart-top label {
	color: white;
}

#topLocalSupply {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 180px;
	margin: 0 auto;
}

#topLocalSupply canvas {
	max-width: 20%;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	white-space: nowrap;
}
.small-contaier{
	 display: flex; /* 이 div를 Flexbox 컨테이너로 만듭니다 */
    flex-direction: column; /* 중요: 자식 요소들을 세로(위아래)로 배치합니다 */
	gap: 20px;
}