@charset "UTF-8";
main.user-page{
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #252526;
	box-sizing: border-box;
}

.form-container{
	border-radius: 8px;
	padding: 20px;
	border: 1px solid white;
	box-shadow: -6px -6px 10px 0px rgba(255, 255, 255, 0.3);
}

.form-title{
	width: 340px;
	text-align: center;
	border-bottom: 2px solid black;
	margin-bottom: 10px;
}

.user-form{
	display: flex;
	flex-direction: column;
	align-item: center;
}

.form-group{
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin: 10px 0;
}

.id-group{
	display: flex;
	justify-content: space-between;
}

.input-id{
	width: 230px;
	height: 35px;
	border-radius: 8px;
	border: 1px solid #aaa;
	padding-left: 10px;
}

.input-id-button{
	width: 90px;
	height: 39px;
	border-radius: 8px;
	border: none;
}

.input-area{
	width: 330px;
	height: 35px;
	border-radius: 8px;
	border: 1px solid #aaa;
	padding-left: 10px;
}

.select-area{
	height: 39px;
	border-radius: 8px;
	border: 1px solid #aaa;
	padding-left: 8px;
	box-sizing: border-box;
}

.radio-group{
	display: flex;
	justify-content: space-around;
	margin: 10px 0;
}

.button-group{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.submit-area{
	width: 150px;
	height: 35px;
	border-radius: 8px;
	border: none;
	margin: 5px 0;
}
.submit-area:hover{
	background-color: #ddd;
	cursor: pointer;
}

.go-main{
	text-decoration: none;
	color: black;
	font-size: 15px;
}
.go-main:hover{
	text-decoration: underline;
	cursor: pointer;
}

.text-center{
	text-align: center;
}