@charset "UTF-8";
main.user-page{
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E8E8E8;
	box-sizing: border-box;
}

.form-container{
	border-radius: 8px;
	padding: 10px 20px;
	border: 1px solid white;
	box-shadow: 6px 6px 10px 0px #cccccc;
	background-color: #FFFFFF;
}

.form-title{
	width: 360px;
	text-align: center;
	border-bottom: 4px solid black;
	margin-bottom: 10px;
	font-size: 20px;
}

.user-form{
	display: flex;
	flex-direction: column;
	align-item: center;
}

.form-group{
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin: 10px 0;
	font-size: 17px;
}

.id-group{
	display: flex;
	justify-content: space-between;
}

.input-id{
	width: 250px;
	height: 35px;
	border-radius: 8px;
	border: 1px solid #aaa;
	padding-left: 10px;
	font-size: 17px;
}

.input-id-button{
	width: 90px;
	height: 39px;
	border-radius: 8px;
	border: none;
	background-color: #6080bb;
	color: white;
	font-size: 16px;
	font-weight: bold;
}
.input-id-button:hover{
	background-color: #3a8de0;
	cursor: pointer;
}

.input-area{
	width: 350px;
	height: 35px;
	border-radius: 8px;
	border: 1px solid #aaa;
	padding-left: 10px;
	font-size: 15px;
}

.select-area{
	height: 39px;
	border-radius: 8px;
	border: 1px solid #aaa;
	padding-left: 8px;
	box-sizing: border-box;
	font-size: 15px;
}

.radio-group{
	display: flex;
	justify-content: space-around;
	margin: 10px 0;
	font-size: 16px;
}

.button-group{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.submit-area{
	width: 170px;
	height: 40px;
	border-radius: 8px;
	border: none;
	margin: 5px 0;
	background-color: #6080bb;
	color: white;
	font-size: 16px;
	font-weight: bold;
}
.submit-area:hover{
	background-color: #3a8de0;
	cursor: pointer;
}

.go-main{
	text-decoration: none;
	color: black;
	font-size: 15px;
}
.go-main:hover{
	text-decoration: underline;
	cursor: pointer;
}
.del-account{
	text-decoration: none;
	color: red;
	font-size: 15px;
	border:none;
	background-color: #FFFFFF;
	
}
.del-account:hover{
	text-decoration: underline;
	cursor: pointer;
}

.text-center{
	text-align: center;
}