<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eco.mapper.AdminMapper">
	<!-- SELECT -->
	<!-- 사용자 주소로 사용자 조회 -->
	<select id="selectUsers" resultType="com.eco.domain.AdminDTO">
		<![CDATA[
		SELECT * FROM t_user u join t_local l ON u.local_cd = l.local_cd 
		WHERE u.user_addr LIKE CONCAT('%', #{keyword}, '%') AND u.use_yn = 'Y'
		]]>
	</select>

	<!-- 사용 내역 조회 -->
	<select id="selectUsageByUser" resultType="com.eco.domain.UsageVO">
		<![CDATA[
		select * from t_usage where user_cd = #{user_cd} and use_yn = 'Y' ORDER BY usage_cd DESC
		]]>
	</select>
	
	<!-- 관리자 권한 요청한 계정 조회 -->
	<select id="selectPreAccount" resultType="com.eco.domain.UserVO">
		<![CDATA[
		SELECT * FROM t_user WHERE user_type IN ('preManager','preAdmin')
		]]>
	</select>
	<!-- 관리자 권한 변경 위한 계정 조회 -->
	<select id="selectAccount" resultType="com.eco.domain.UserVO">
		<![CDATA[
		SELECT * FROM t_user WHERE user_nm = #{user_nm} AND user_type = #{user_type}
		]]>
	</select>

	<!-- 관리자 권한 변경 위한 전체 계정 조회 -->
	<select id="selectUserByNameAndType" resultType="com.eco.domain.UserVO">
		<![CDATA[
		SELECT * FROM t_user 
		WHERE user_nm LIKE CONCAT('%', #{user_nm}, '%')
  		AND use_yn = 'Y'
  		AND user_type = #{user_type}
  		]]>
	</select>

	<!-- INSERT -->
	<!-- 사용량 등록 -->
	<insert id="insertUsage"
		parameterType="com.eco.domain.AdminDTO">
		<![CDATA[
		INSERT INTO t_usage(user_cd, local_cd, usage_dt, usage_amount) 
		VALUES(#{user_cd}, #{local_cd}, #{usage_dt}, #{usage_amount})
		]]>
	</insert>
	
	<!-- UPDATE -->
	<!-- 사용량 수정 -->
	<update id="updateUsage" parameterType="com.eco.domain.UsageVO">
		UPDATE t_usage
		SET usage_amount = #{usage_amount}
		WHERE usage_cd = #{usage_cd} AND use_yn = 'Y'
	</update>
	<!-- 사용량 삭제 (use_yn 'N'으로 변경) -->
	<update id="deleteUsage" parameterType="int">
		UPDATE t_usage
		SET use_yn = 'N'
		WHERE usage_cd = #{usage_cd}
	</update>
	
	<!-- 사용자 등급 전환 -->
	<update id="updateUserType" parameterType="com.eco.domain.UserVO">
		UPDATE t_user
		SET user_type = #{user_type}
		WHERE user_cd = #{user_cd} AND user_id = #{user_id} AND use_yn = 'Y'
	</update>

</mapper>