<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eco.mapper.UserMapper">
	<!-- SELECT -->
	<select id="getUserSelect" resultType="com.eco.domain.UserVO">
		<![CDATA[
		SELECT * FROM t_user
		WHERE use_yn = 'Y' AND user_id = #{user_id} and user_pw = #{user_pw}
		]]>
	</select>
	
	<select id="Select" resultType="int">
		<![CDATA[
		SELECT count(*) FROM t_user and use_yn = 'Y'
		]]>
	</select>
	
	<!-- 사용자 아이디로 cd data 조회 -->
	<select id="selectCdDataByUserId" resultType="com.eco.domain.UserVO">
		<![CDATA[
		SELECT user_cd, local_cd FROM t_user
		WHERE user_id = #{user_id} and use_yn = 'Y'
		]]>
	</select>
	
	<!-- user_cd 일련번호 조회 -->
	<select id="selectMaxUserCd" resultType="int">
		SELECT IFNULL(MAX(CAST(SUBSTRING(user_cd, 8, 4) AS UNSIGNED)), 0)
		FROM t_user
		WHERE SUBSTRING(user_cd, 1, 4) = #{year}
	</select>
	
	<!-- 지역코드 전체 가져오기 -->
	<select id="selectLocalList" resultType="com.eco.domain.LocalVO">
		<![CDATA[
		SELECT * FROM t_local WHERE use_yn = 'Y'
		]]>
	</select>
	
	
	<!-- INSERT -->
	<!-- 회원가입 -->
	<insert id="userInsert">
		<![CDATA[
		    INSERT INTO t_user(user_cd, user_id, user_pw, user_nm, local_cd, user_addr, user_type)
		    VALUES(#{user_cd}, #{user_id}, #{user_pw}, #{user_nm}, #{local_cd}, #{user_addr}, #{user_type})
	    ]]>
	</insert>

	<!-- UPDATE -->
	<!-- 회원정보 수정 -->
	<update id="updateUserInfo" parameterType="com.eco.domain.UserVO">
		<![CDATA[
		    UPDATE t_user
	        SET
	            user_pw = #{user_pw},
	            user_nm = #{user_nm},
	            local_cd = #{local_cd},
	            user_addr = #{user_addr},
	            user_type = #{user_type}
	        WHERE user_cd = #{user_cd} AND user_id = #{user_id}
		]]>	
	</update>	

</mapper>