<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eco.mapper.UserMapper">
	<!-- SELECT -->
	<select id="getUserSelect" resultType="com.eco.domain.UserVO">
		<![CDATA[
		SELECT * FROM t_user
		WHERE use_yn = 'Y' AND user_id = #{user_id} and user_pw = #{user_pw}
		]]>
	</select>
	
	<select id="Select" resultType="int">
		<![CDATA[
		SELECT count(*) FROM t_user;
		]]>
	</select>
	
	<select id="findByUserId" resultType="com.eco.domain.UserVO">
		<![CDATA[
		SELECT * FROM t_user
		WHERE user_id = #{user_id} and user_type = #{user_type};
		]]>
	</select>

	<!-- INSERT -->
	<insert id="userInsert">
		<![CDATA[
		INSERT INTO t_user(user_id, user_pw, user_nm, user_type, user_local, user_email) VALUES(#{user_id}, #{user_pw}, #{user_nm}, #{user_type}, #{user_local}, #{user_email})
		]]>
	</insert>



</mapper>